{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'proveedor/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 15%;">Empresa</th>
        <th scope="col" style="width: 10%;">Telefono</th>
        <th scope="col" style="width: 15%;">Direccion</th>
        <th scope="col" style="width: 10%;">Sexo</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}